<form action="/sessions/new" method="get">
    <div>
      <%= label :youtube_username, "Youtube Username" %><br>
      <%= text_field_tag :youtube_username, "ThatOneLaserClown" %>
    </div>

    <div>
      <%= label :youtube_playlist, "Youtube Playlist" %><br>
      <%= text_field_tag :youtube_playlist, "Super Banjo Bros." %>
    </div>

    <div>
      <%= label :spotify_playlist, "Spotify Playlist" %><br>
      <%= text_field_tag :spotify_playlist, "spot test play" %>
    </div>

    <div>
      <%= submit_tag "Merge" %>
    </div>
</form>
